body {
  font-family: Arial, sans-serif;
  color: #333;
}

form {
  position: relative;
  width: 100%;
  margin: 20px auto;
}

input {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  margin: 20px auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}

input.valid {
  border-color: rgba(0, 128, 0, 0.689);
}

input.invalid {
  border-color: crimson;
}

input.invalid + p {
  font-weight: bold;
  color: crimson;
}

input.valid + p {
  display: none;
}


.submit-btn {
  background-color: aqua;
  cursor: pointer;
}

.submit-btn:hover {
  background: rgba(66, 227, 211, 0.907);
}

.password-container {
  position: relative;
  margin-bottom: 20px;
}

/* Style for password input fields */
.password {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for show-hide password icons */
.show-hide-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Style for password validation messages */
.validation-message {
  color: rgb(238, 41, 41);
  font-size: 18px;
  margin-top: 5px;
}
